extends layout 

block layout-content 
    .about-website 
        p  Decor Homes was founded in 2012 and it is mainly focussed on providing furnitures and other decor items that can make your home look cozy and beautiful. Drawing on the very best of Made in Italy values and cutting-edge engineering and technological know-how, Decor Homes fuses old-fashioned craftsmanship with contemporary design. Whilst many of our products are the result of partnerships with internationally noted designers, what lies at the heart of all we do is a deep- rooted passion and respect for the inherent beauty of natural stone, and its defining characteristic: that no two pieces can ever be identical, meaning that every single product has its own unique history.
