extends layout 

block layout-content 
    form(action="/contact/add", method="post")
        div.form-field
            label(for="name") Name :  
            input(type="text", id="name", name="name", placeholder="e.g. John Doe")
        div.form-field
            label(for="text-area") Write a review regarding our products :
        div.form-field
            textarea(rows="5", cols="100" id="text-area" , name="review")
        button(type="submit") Submit 
    p.review-heading Recent reviews : 
    div.review-container
        each item in list
            div.review-card 
                p.card-name Name :  #{item.name}
                p.card-review Review :  #{item.review}
