extends layout 

block layout-content 
    div#background 
        <!--Image source : https://images.unsplash.com/photo-1519961655809-34fa156820ff -->
        .container 
            h1 
                span Are you ready to build your home with cozy furnitures?
            a(class="button", href="/product") Get Started