extends layout 

block layout-content 
    .product-container 
        .product-cards 
            //https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg
            img(class="product-image", src="../images/furniture.jpg")
            .product-description 
                p Furniture
        .product-cards 
            //https://images.pexels.com/photos/763148/pexels-photo-763148.jpeg
            img(class="product-image", src="../images/bedding.jpg")
            .product-description 
                p Bedding and Baths
        .product-cards 
            //https://images.pexels.com/photos/1239221/pexels-photo-1239221.jpeg
            img(class="product-image", src="../images/pillows.jpg")
            .product-description 
                p Pillows
        .product-cards 
            //https://images.pexels.com/photos/3637728/pexels-photo-3637728.jpeg
            img(class="product-image", src="../images/appliances.jpg")
            .product-description 
                p Appliances
        .product-cards 
            //https://images.pexels.com/photos/1450903/pexels-photo-1450903.jpeg
            img(class="product-image", src="../images/kitchen.jpg")
            .product-description 
                p Kitchen
        .product-cards 
            //https://images.pexels.com/photos/8523132/pexels-photo-8523132.jpeg
            img(class="product-image", src="../images/outdoor.jpg")
            .product-description 
                p Outdoor
        .product-cards 
            //https://images.pexels.com/photos/264917/pexels-photo-264917.jpeg
            img(class="product-image", src="../images/toys.jpg")
            .product-description 
                p Toys